.Navbar {
  background: linear-gradient(
    90deg,
    rgb(147, 221, 132) 0%,
    rgb(8, 145, 15) 100%
  );
  height: 80px;
  display: flex;
  align-items: center;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 30px;
  list-style: none;
  text-align: center;
  width: 80vw;
}
